#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.Icon{
  height: 15rem;
  width: 15rem;
  
  

  animation-name: leftToCenter;
  animation-duration: 20s;
  animation-iteration-count: 1;
}
.box{
 position: absolute;
 left: 70%;
 top: 1rem;
 .willy{
   overflow: auto;
  background: #121212fa;
  position: absolute;
  left:-1rem;
  display: inline flow-root list-item;


  margin: 1rem;
  z-index: 999;
  padding: 10px;
  --webkit-display: block;
  text-align:center;
  a{
    display: block;
    margin-bottom: 10px;
    
    padding: 10px;
    width 2rem;
  }
  }

}

@keyframes leftToCenter {
  0% {
    translate: -100vw;
  }
  100% {
    translate: 0px;
  }
}

